@import
"settings";

@import
"~minx/src/settings",
"~minx/src/functions",
"~minx/src/mixins",
"~minx/src/reset",
"~minx/src/elements";

@import
"grid",
"app/header",
"app/main",
"sign-in/sign-in",
"tasks/notification",
"tasks/task-filters",
"tasks/task-form",
"tasks/task-item",
"tasks/task-list";


.hide {
  display: none !important;
}

::selection {
  background: rgba(200,200,255,.1);
}
.AddProduct{
	margin-top:72px;
}